{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">
  {%- if social.github -%}
  <li>
    <a href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
      </svg>
    </a>
  </li>
  {%- endif -%}
  <li>
    <a href="https://dev.to/lfhernandez">
      <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Felipe's DEV Profile" height="30" width="30">
    </a>
  </li>
</ul>
